body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

header{
    background-color: #eeeeee;
    text-align: center;
    padding: 2em;
}
.logo{
    width: 80px;
}

.bloque{
    width: 60%;
    margin: 0 auto;
}

.input-texto{
    border-radius: 0.5em;
    border-color: goldenrod;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.mensaje{
    border-radius: 0.5em;
    border-color: goldenrod;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.boton{
    text-align: center;
    margin-right: 1em;
    width: 30%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.boton:hover{
    background: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    transform: scale(1.1);
}

.botoncopiar{
    text-align: center;
    margin-right: 1em;
    width: 30%;
    padding: 15px 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: goldenrod;
    border: 1px solid goldenrod;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.botoncopiar:hover{
    background: darkgoldenrod;
    border: 1px solid darkgoldenrod;
    transform: scale(1.1);
}

footer{
    text-align: center;
    font-size: 13px;
    padding: 1em;
    margin-top: 2em;
    background-color: #efefef;
}

.derecha{
    text-align: end;
}

@media screen and (max-width:480px) {
    .bloque{
        width: 90%;
        margin: 0 auto;
    }
}